.card {
    display: inline-block;
    text-align: center;
    width: 3em;
    font-size: 2em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 1em;
    user-select: none;
    color:rgb(174, 136, 218);
    background: rgb(250, 193, 196); 
   }

   .activeCard {
       color: rgb(253, 170, 183);
       background: black;
   }

   body {
    background-color: #f8ebb2;
  }

  footer {
    background-color: #251863;
    
  }

  .container {
    margin: 20px;
    /*border-radius: 5px;*/
    background-color: #d5fdf3;
    padding: 20px;
}

  b1 {
    color:rgb(247, 186, 194);
  }

  b2 {
    color:rgb(73, 68, 117);
  }

  

  